html {
  font-size: 62.5%;
}

@media (max-width:998px) {
  html {
    font-size: 140%;
  }
}

@media (max-width:768px) {
  html{
    font-size: 120%;
  }
}
* {
  margin: 0;
  padding: 0;
}
body {
  color: white;
  font-family: "Wotfard", sans-serif;
  background-color: black;
}

.intro {
  padding: 5.0rem;
  text-align: center !important;
}

.intro > img {
  border-radius: 50%;
  width: 18.0rem;
  aspect-ratio: auto 180 / 180;
  height: 18.0rem;
}

.intro > .hi {
  padding-top: 1.0rem;
  font-size: 2.5rem;
  margin: .7rem 0;
  line-height: 1;
  font-weight: 500;
}

.HandWave {
  display: inline-block;
  animation: wave-animation 1s infinite;
  transform-origin: 70% 70%;
  font-size: 3.0rem;
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
}

.intro-main-h1 {
  text-align: center;
  margin-top: 1.0rem;
  margin-bottom: 6.4rem;
  font-size: 7.6rem;
  line-height: 1.1;
}

h1 > span {
  color: #2b7bbc;
}

.sub-intro {
  font-size: 2.6rem;
  line-height: 1.4;
}

p > strong {
  color: #2b7bbc;
}

h1,
h2,
h3,
p {
  margin: 0;
}

