html {
  /* Change 1rem = 10px, 62.5% */
  font-size: 62.5%;
}

body {
  color: white;
  font-family: "Wotfard", sans-serif;
  background-color: black;
}

/* Making Responsive */
@media (max-width: 1195px) {
  html {
    font-size: 130%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 120%;
  }
}

/* **************************************** COMMON ***************************** */
.common-section {
  margin-top: 4rem;
  padding-top: 5rem;
  padding-bottom: 6.5rem;
}

.common-section > h3 {
  text-align: center;
  font-size: 5rem;
}

hr {
  width: 35rem;
}

/* ********************************* Introduction Sections ********************8 */
.intro {
  margin-top: 2rem;
  padding-top: 5rem;
  padding-bottom: 6.5rem;
  text-align: center;
}

.intro > img {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  aspect-ratio: auto 200 / 200;
}

.intro > .hi {
  font-size: 2rem;
  margin-top: 1.5rem;
  line-height: 1;
  font-weight: 500;
}

.HandWave {
  display: inline-block;
  animation: wave-animation 1s infinite;
  transform-origin: 70% 70%;
  font-size: 3rem;
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(30deg);
  }
}

.intro-main-h1 {
  text-align: center;
  font-size: 7.6rem;
  margin-top: 3.5rem;
  margin-bottom: 6rem;
  line-height: 1.1;
}

h1 > span,
p > strong {
  color: #2b7bbc;
}

.sub-intro {
  font-size: 2rem;
  line-height: 1;
  margin:0  1.7rem;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* ***********************************Coffee Section*******************************8 */

.meet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.4rem;
  height: 6.4rem;
  background: rgb(255, 221, 0);
  color: white;
  border-radius: 3.2rem;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px; */
  /* z-index: 9999; */
  cursor: pointer;
  /* font-weight: 600; */
  /* transition: all 0.25s ease 0s; */
  /* transform: scale(1); */
}

/* **************************************** PROJECTS SECTIONS ****************************** */

/* TIMELINE */
.timeline-section {
  min-height: 100vh;
  padding: 10rem 1.5rem;
}

.timeline-items {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

/* for vertical line */
.timeline-items::before{
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: white;
  left: calc(50% - 1px);
}

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}
.timeline-item:last-child{
  margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}
.timeline-dot {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #2b7bbc;
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}

.timeline-date{
  font-size: 1.8rem;
  color: #2b7bbc;
  margin: 6px 0 15px;
}
.timeline-content {
  padding: 3rem;
  border-radius: 8px;
  background-color: white;
  color: black;
}

.timeline-content h3 {
  font-size: 2rem;
  margin: 0 0 1rem;
  text-transform: capitalize;
  border-bottom: 1px dotted;
}
.timeline-content p {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.timeline-btn{
  margin-top: 1rem;
  padding: 1.2rem 1.5rem;
  font-size: 1.6rem;
  background-color: #2b7bbc;
  border: none;
  border-radius: 1rem;
}
.timeline-btn a{
  text-decoration: none;
  color: white;
}

/* RESPONSIVE PROJECTS */
@media (max-width: 1195px) {
  .timeline-items::before{
    left: .7rem;
  }
  .timeline-item:nth-child(odd){
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even){
    padding-left: 3.7rem;
  }
  .timeline-dot{
    left: 0;
  }
  .timeline-date{
    left: 0;
  }
}
